@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --font-sans: "Inter", "Helvetica Neue", Arial, sans-serif;
  --font-serif: "Playfair Display", "Georgia", serif;
  
  --color-natural-bg: #F7F7F2;
  --color-natural-text: #353D32;
  --color-natural-primary: #535C4A;
  --color-natural-border: #E5E5DE;
  --color-natural-card: #FFFFFF;
  --color-natural-tag: #F0F0E8;
  --color-natural-muted: #8C8C80;
  --color-natural-accent: #1A1C18;
}

@layer base {
  body {
    @apply antialiased bg-natural-bg text-natural-text;
  }
}
